.container {
  backgroundColor: #aa55dd;
  display: flex;
  justifyContent: center;
  alignItems: center;
  width: 100vw;
  height: 100vh;
  font-family: Bosch;
  z-index: 10;
}

.loadingBar {
  position: relative;
  bottom: 0;
  background-color: red;
  left: 0;
  width: 50%;
}
