.label {
  width: 97%;
  height: 97%;
  background-color: #000;
  border-color: #000;
  font-family: Bosch;
  font-size: 1.25em;
  color: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.labelBorder {
  width: 300px;
  height: 200px;
  margin: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #000;
  border-width: 3px 4px 3px 4px;
}

.labelLinks {
  margin-top: 15px;
  width: 90%;
  /*border: 2px dashed red;*/
  display: flex;
  justify-content: space-evenly;
}

.labelLink {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 1em;
}

.labelLink:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.labelLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.p {
  font-size: 0.75em;
}
